In [1]:
# Introduction to Python Programming
# Getting Started
# Python - python.org - Python is a langugage which can be written in various tools like anaconda, pycharm
# But we can install anaconda which comes with python inbuilt

In [3]:
import sys
print(sys.version_info)
print(sys.api_version)
print(sys.path)

sys.version_info(major=3, minor=11, micro=7, releaselevel='final', serial=0)
1013
['C:\\Users\\Admin', 'C:\\Users\\Admin\\anaconda3\\python311.zip', 'C:\\Users\\Admin\\anaconda3\\DLLs', 'C:\\Users\\Admin\\anaconda3\\Lib', 'C:\\Users\\Admin\\anaconda3', '', 'C:\\Users\\Admin\\anaconda3\\Lib\\site-packages', 'C:\\Users\\Admin\\anaconda3\\Lib\\site-packages\\win32', 'C:\\Users\\Admin\\anaconda3\\Lib\\site-packages\\win32\\lib', 'C:\\Users\\Admin\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [8]:
import os

print(os.getcwd())

print(os.chdir(r'C:\Users\admin\Desktop'))

print(os.getcwd())

C:\Users\Admin
None
C:\Users\admin\Desktop

In [10]:
print('hello world')

hello world

In [12]:
a = 'Hello'
b  =  50
c = 2.5

print(type(a))
print(type(b))
print(type(c))

print('this is the value of a',a)

<class 'str'>
<class 'int'>
<class 'float'>
this is the value of a Hello

In [14]:
a = 15
b = 5
addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b
modulus = a % b
exponent = a ** b
Floor_Division = a // b


print('this is addition',addition)
print("Subtracting Number 3 from 12 is : ", subtraction)
print("Multiplication of two numbers 12 and 3 is : ", multiplication)
print("Division of two numbers 12 and 3 is : ", division)
print("Modulus of two numbers 12 and 3 is : ", modulus)
print("Exponent of two numbers 12 and 3 is : ", exponent)
print("Floor Division of two numbers 12 and 3 is : ", Floor_Division)

this is addition 20
Subtracting Number 3 from 12 is :  10
Multiplication of two numbers 12 and 3 is :  75
Division of two numbers 12 and 3 is :  3.0
Modulus of two numbers 12 and 3 is :  0
Exponent of two numbers 12 and 3 is :  759375
Floor Division of two numbers 12 and 3 is :  3

In [18]:
age = 24
age2= 16
print(age-age2)
print(age+age2)
print(age*age2)
print(age/age2)
print(age2%age)


firstname = 'Ramesh'
lastname = 'Suresh'
print(firstname+'--'+lastname)

8
40
384
1.5
16
Ramesh--Suresh

In [22]:
firstname[0:3]

'Ram'

In [24]:
sentence= 'he'
sentence[0]

'h'

In [28]:
num = 30
print(num)
num2 = 6
print(num2)

30
6

In [30]:
name = input('Enter your name')

print(name)

Enter your name Nilam

Nilam

In [36]:
# Data Structures

#Data 

#Lists =[1,2,3]
#Tuple = (1,2,3)
#Dictionary = {'name':['Ram','Sham'],'Age':[10,20]}
#Sets = {1,2,3}

## Lists

In [38]:
thislist = ("japan", "dubai", "korea")
print(thislist)

('japan', 'dubai', 'korea')

In [40]:
thislist = ("japan", "dubai", "korea")
print(thislist[0:2])

('japan', 'dubai')

In [42]:
thislist = ("japan", "dubai", "korea")
print(thislist[-3])

japan

In [44]:
thislist = ("japan", "dubai", "korea",'thailand','taiwan')
print(thislist[2:5])

('korea', 'thailand', 'taiwan')

## string

In [46]:
travel=input('where would you like to go for travel')
travel

where would you like to go for travel japan

'japan'

In [48]:
travel[0]

'j'

In [60]:
travel.upper()
travel.lower()
travel.capitalize()
travel.startswith('j')

True

In [62]:
token=travel.split('p')
token

['ja', 'an']

## Tuples

In [66]:
tuples = ('Suresh','Ramesh',90,40)
tuples

('Suresh', 'Ramesh', 90, 40)

In [82]:
tuples.count(90)
tuples.index('Suresh')
tuples[1]

'Ramesh'

In [86]:
len(tuples)

4

## Dictionary

In [90]:
emptydict={}
print(emptydict)

{}

In [92]:
opposite={'sun':'moon',
          'day':'night',
          'south':'north',
          'up':'down'
         }
opposite

{'sun': 'moon', 'day': 'night', 'south': 'north', 'up': 'down'}

In [110]:
playerscores={'virat':89,'bumrah':40,'watson':70}
print(playerscores.keys())
print(playerscores.values())

dict_keys(['virat', 'bumrah', 'watson'])
dict_values([89, 40, 70])

In [112]:
iplscores={'RCB':{'virat':90,'siraj':50,'faf':70},
           'MI':{'rohit':40,'bumrah':20,'hardik':60},
           'SRH':{'cummins':55,'abhi':75,'head':85}}
print(iplscores)

{'RCB': {'virat': 90, 'siraj': 50, 'faf': 70}, 'MI': {'rohit': 40, 'bumrah': 20, 'hardik': 60}, 'SRH': {'cummins': 55, 'abhi': 75, 'head': 85}}

## set

In [7]:
thisset={'purple','white','gray','orange','blue','yellow'}
print(thisset)

{'orange', 'white', 'blue', 'gray', 'purple', 'yellow'}

In [13]:
thisset={'purple','white','gray','orange','blue','yellow'}
for colours in thisset:
    print(colours)

orange
white
blue
gray
purple
yellow

In [15]:
thisset={'purple','white','gray','orange','blue','yellow'}
print('gray' in thisset)

True

In [19]:
thisset.add('black')
print(thisset)
#we can use add,update,remove,discard,pop,clear,del

{'orange', 'white', 'blue', 'gray', 'black', 'purple', 'yellow'}

## Boolean Operators

In [23]:
5>1

True

In [27]:
len('Hello')>3

True

In [30]:
type(len('Hello')>3)

bool

In [40]:
6%3==0

True

## Conversions

In [42]:
somestring = '10000'
nums = 1234

newstring = int(somestring)
print(somestring)
print(nums)
print(newstring)
print(type(somestring))
print(type(nums))
print(type(newstring))

10000
1234
10000
<class 'str'>
<class 'int'>
<class 'int'>

In [48]:
floatint = float(somestring)
type(floatint)
floatint

10000.0

## Slicing & Operators

In [74]:
Actors=['sethupathi','fahad','pathanoni','nani']
Actors[0:-4]=['thalapathi']
Actors
Actors[0:-4]

['thalapathi']

## For Loops

In [78]:
techcompanies = ['Google','Apple','Dell','Facebook','Intel']
print(techcompanies)

['Google', 'Apple', 'Dell', 'Facebook', 'Intel']

In [80]:
mathscores = {'ram':20,'sham':30,'Krishna':40}

sumnombers = [1,2,3,4,5]
for i in sumnombers:
    print('current values is',i)

current values is 1
current values is 2
current values is 3
current values is 4
current values is 5

In [82]:
total =  0
for number in sumnombers:
    total = total+number
    print('current total values is',total)

current total values is 1
current total values is 3
current total values is 6
current total values is 10
current total values is 15

In [84]:
for i in range(1,3):
    for j in ('apple','banana','cheery','grapes'):
        print(i,j)

1 apple
1 banana
1 cheery
1 grapes
2 apple
2 banana
2 cheery
2 grapes

In [92]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## If Else Loops

In [94]:
if 5<20:
    print('yes')
else:
    print('no')

yes

In [96]:
# Taking input
age = float(input('Enter your age'))
if age>=18:
    print('You are an Adult')
elif age>=13 and age<18:
    print('you are a teenager')
else:
    print('you are young')

Enter your age 24

You are an Adult

In [98]:
# conditional statements
ram =50
sham = 100
if ram>sham:
    print('ram is higher')
elif ram==sham:
    print('ram is equal to sham')
else:
    print('sham is high')

sham is high

In [100]:
print(3>=2)
print(3==2)
print(2!=2)

True
False
False

## While Loops

In [104]:
count= 10
while count<5:
    print(count)

In [1]:
#infinite Loop

count=4
while count<1:
    print(count)

In [3]:
count = 0
while count<5:
    print(count)
    count = count+1

0
1
2
3
4

In [11]:
while True:
    num =int(input('Enter a number'))
    if num%2==0:
        break

Enter a number 3
Enter a number 5
Enter a number 7
Enter a number 9
Enter a number 2

## Range

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

## Break & Continue

In [15]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [17]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [19]:
for i in range(1,8):
    print()
    print('before continue statement',i)
    if i%2==0:
        continue
    print('after contiue statement',i)

before continue statement 1
after contiue statement 1

before continue statement 2

before continue statement 3
after contiue statement 3

before continue statement 4

before continue statement 5
after contiue statement 5

before continue statement 6

before continue statement 7
after contiue statement 7

In [21]:
for i in range(1,8):
    if i%2==0:
        continue
    print(i)

1
3
5
7

## Inputs & Outputs

In [25]:
# add two inputs
num1 = input('enter any num')
num2 = input('enter another num')

total = num1+num2
print(total)

enter any num 3
enter another num 5

35

In [27]:
numbr = int(input('Enter any number'))
print(numbr)
for i in range(1,11):
    print(i,'*',numbr,'=',i*numbr)

Enter any number 2

2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [29]:
# Python Program to Print Odd Numbers from 1 to N

maximum = int(input(" Please Enter any Maximum Value : "))

for number in range(1, maximum + 1):
    if(number % 2 != 0):
        print("{0}".format(number))

 Please Enter any Maximum Value :  5

1
3
5

In [31]:
for i in range(10+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

## Built in Functions

In [33]:
# Built-in functions, such as help() to ask for help, min() to get the minimum value, 
# print() to print an object to the terminal,â€¦ You can find an overview with more of these functions here.
# User-Defined Functions (UDFs), which are functions that users create to help them out; And Anonymous functions, 
# which are also called lambda functions because they are not declared with the standard def keyword.

In [35]:
# in built functions

print(abs(-30))
print(bool(0))
print(5<0)

30
False
False

In [37]:
min.__doc__

'min(iterable, *[, default=obj, key=func]) -> value\nmin(arg1, arg2, *args, *[, key=func]) -> value\n\nWith a single iterable argument, return its smallest item. The\ndefault keyword-only argument specifies an object to return if\nthe provided iterable is empty.\nWith two or more arguments, return the smallest argument.'

In [41]:
eval('5*3')
a=1
print(type(a))
b = str(a)
print(type(b))

<class 'int'>
<class 'str'>

In [ ]:
Importing and Using Library in Python

In [43]:
import pandas as pd

In [47]:
Data =[1, 3, 4, 5, 6, 2, 9] 
s = pd.Series(Data) 
Index =['a', 'b', 'c', 'd', 'e', 'f', 'g']  
si = pd.Series(Data, Index) 
print(si)
a = pd.DataFrame(si)
print(a)

a    1
b    3
c    4
d    5
e    6
f    2
g    9
dtype: int64
   0
a  1
b  3
c  4
d  5
e  6
f  2
g  9

In [49]:
# Python Program to find Area Of Circle using Radius

PI = 3.14
radius = float(input(' Please Enter the radius of a circle: '))
area = PI * radius * radius
circumference = 2 * PI * radius

print(" Area Of a Circle = %.2f" %area)
print(" Circumference Of a Circle = %.2f" %circumference)

 Please Enter the radius of a circle:  3

 Area Of a Circle = 28.26
 Circumference Of a Circle = 18.84

In [51]:
# Python Program to find Total, Average, and Percentage of Five Subjects
 
english = float(input("Please enter English Marks: "))
math = float(input("Please enter Math score: "))
computers = float(input("Please enter Computer Marks: "))
physics = float(input("Please enter Physics Marks: "))
chemistry = float(input("Please enter Chemistry Marks: "))

total = english + math + computers + physics + chemistry
average = total / 5
percentage = (total / 500) * 100

print("\nTotal Marks = %.2f"  %total)
print("Average Marks = %.2f"  %average)
print("Marks Percentage = %.2f"  %percentage)

Please enter English Marks:  60
Please enter Math score:  70
Please enter Computer Marks:  80
Please enter Physics Marks:  50
Please enter Chemistry Marks:  90

Total Marks = 350.00
Average Marks = 70.00
Marks Percentage = 70.00

In [53]:
# Python Program to Remove First Occurrence of a Character in a String
 
string = input("Please enter your own String : ")
char = input("Please enter your own Character : ")
string2 = ''
length = len(string)
for i in range(length):
    if(string[i] == char):
        string2 = string[0:i] + string[i + 1:length]
        break
 
 
print("Original String :  ", string)
print("Final String :     ", string2)

Please enter your own String :  4
Please enter your own Character :  6

Original String :   4
Final String :

## Errors

In [55]:
# Exception handlig

try:
    data = read_csv('data.csv')
except:
    print('file not found')

file not found

In [57]:
def this_fails():
    x = 1/0
try:
    this_fails()
except ZeroDivisionError as err:
    print('Handling run-time error:', err)

Handling run-time error: division by zero

In [61]:
try:
    x = int(input("Please enter a number: "))
except ValueError:
    print("Oops!  That was no valid number.  Try again...")

Please enter a number:

Oops!  That was no valid number.  Try again...

In [63]:
A = 1
B = 'SA'
try:
    A+B
except TypeError:
    print('Please input the correct type')

Please input the correct type

In [65]:
user_input = input('Enter your Age')
try:
    val = int(user_input)
    print('Yes input string is an Integer.')
    print('Input number value is: ', val)
except ValueError:
    print('That\'s not an int!')
except:
    print('Somethings wrong')

Enter your Age 24

Yes input string is an Integer.
Input number value is:  24

In [67]:
try:
    print(x)
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

4

In [69]:
try:
    print("Hello")
except:
    print("Something went wrong")

Hello

In [71]:
try:
    f = open('myfile.txt')
    s = f.readline()
    i = int(s.strip())
except OSError as err:
    print("OS error: {0}".format(err))
except ValueError:
    print("Could not convert data to an integer.")
except:
    print("Unexpected error:", sys.exc_info()[0])
    raise

OS error: [Errno 2] No such file or directory: 'myfile.txt'